#services_section_underlay {
  background-color: var(--brand-green-light-02);
  padding-top: 30rem;
  z-index: -4;
  position: relative;
  top: -30rem;
  margin-bottom: -30rem;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services_intro {
  margin-inline: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.services_intro h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
}

.services_intro h4 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--brand-green);
  text-transform: uppercase;
}

.services_cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 10rem;
}

.services_cards span {
  padding: 2.4rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1.6rem;
  border: 0.1rem solid #dce9e2;
  border-radius: 0.6rem;
}

.services_cards h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.services_cards p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);
}

@media (min-width: 1023px) {
  #services_section_underlay {
    padding-top: 10rem;
    top: -10rem;
    margin-bottom: -10rem;
  }

  .services_intro {
    margin-top: 16rem;
  }

  .services_intro h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .services_cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16rem;
  }

  .services_cards span {
    width: 30%;
    flex-grow: 1;
  }
}
